@import '../../variables';

.dashboard {
  background: #151616;
  padding: 10px 30px;
  &-header {
    display: flex;

    .caption {
      margin-left: 20px;
    }
  }

  &-balance {
    margin-top: 20px;
    &-container {
      display: flex;
      margin-top: 20px;
      div {
        margin-right: 20px;
      }
    }
  }

  &-statistics {
    &-container {
      display: flex;
      margin-top: 20px;
      div {
        margin-right: 20px;
      }
    }
  }

  &-line {
    margin: 20px 0px;
  }

  &-packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .package-item {
      width: 20%;
      margin-bottom: 20px;
    }
  }

  &-transactions {
    &-header {
      margin-bottom: 20px;
    }
  
    &-content {
      .table-content {
        @include P4;
        color: $dark_3;
  
        &-item {
          display: flex;
          border-bottom: 1px solid rgba($color: $dark_1, $alpha: 0.03);
          padding: 10px;
          align-items: center;
  
          .col {
            flex: 1 1 0px;
          }
          div {
            display: inline-block;
            i {
              margin-left: 4px;
            }
          }
          
          .status {
            padding: 8px;
          }
  
          .success {
            background-color: $success_shade;
            color: $success;
          }
  
          .pending {
            background-color: $warning_shade;
            color: $warning;
          }
  
          .failed {
            background-color: $danger_shade;
            color: $danger;
          }

          .amount, .profit {
            &::before {
              content: '$'
            }
          }
        }
      }
  
      .table-title {
        @include table_title_1;
        background-color: rgba($color: $dark_1, $alpha: 0.03);
        color: $dark_3;
  
        display: flex;
        justify-content: space-between;
        padding: 10px;
  
        &-item {
          flex: 1 1 0px;
        }
      }
    }
  
    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1120px) {
  .dashboard {
  
    &-packages {
      .package-item {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .dashboard {
    &-balance {
      &-container {
        flex-direction: column;
        gap: 20px;
        .balance {
          width: 90%;
        }
      }
    }
  
    &-statistics {
      &-container {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        .account-statistics {
          width: 90%;
        }
      }
    }

    &-packages {
      .package-item {
        width: 100%;
      }
    }

    &-transactions {
      &-content {
        overflow-x: auto;
        /* width */
        &::-webkit-scrollbar {
          height: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: $dark_6;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $dark_5;
        }
        .table-title, .table-content {
          min-width: 500px;
        }
      }
      &-footer {
        flex-direction: column;
      }
    }
  }
}
