@import '../../../variables';

.arb-paginate {
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px -4px;
    li {
      display: inline-block;
      width: 37px;
      height: 37px;
      margin: 0px 4px;
      @include menu;
      color: $dark_3;
      line-height: 37px;
      text-align: center;
      border: 1px solid $dark_5;
    }

    .selected {
      background-color: $secondary;
      color: $dark_7;
    }
  }
}

@media screen and (max-width: 700px) {
  .arb-paginate {
    ul {
      li {
        width: 37vw * 0.14;
        height: 37vw * 0.14;
        margin: 0px 4vw * 0.14;
        line-height: 37vw * 0.14;
        font-size: 20vw * 0.14;
      }
    }
  }
}